.navbar-fixed-top {
  background-color: #e6e6e6;
  margin-top: -10px;
  margin-bottom: 0; }

.col-md-12 form {
  margin-top: 60px;
  padding-bottom: 10px;
  background-color: #e6e6e6; }

.row {
  background-color: #63a0d4;
  padding-bottom: 50px; }

.form-group {
  margin-top: 5px; }

.post {
  margin-top: 5px;
  margin-left: 10px; }

.container h1 {
  float: left;
  text-align: center; }

.container h4 {
  float: right;
  padding-top: 25px; }

.form-inline {
  margin-top: 20px;
  text-align: center; }

.row h3 {
  text-align: center; }

.row p {
  text-align: center; }

.row img {
  text-align: center;
  width: 100%; }

.release h3 {
  font-size: .9em; }

span.glyphicon-star-empty {
  font-size: 2em; }
